body {

    background-image: url(https://img.freepik.com/premium-photo/dangerous-anonymous-hacker-man-black-hooded-using-computer-breaking-into-security-data-corporate-server-he-sitting-working-black-background-internet-crime-cyber-attack-security-concept_44289-1307.jpg);

}


.para {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
    font-size: 16px;
    color: rgb(57, 163, 57);
}

.main {
    display: flexbox;
    background-color: transparent;
    /* background-image: url(https://img.freepik.com/premium-photo/dangerous-anonymous-hacker-man-black-hooded-using-computer-breaking-into-security-data-corporate-server-he-sitting-working-black-background-internet-crime-cyber-attack-security-concept_44289-1307.jpg);
    background-size: contain; */
    height: 640px;
    color: rgb(60, 201, 60);


    
}

#heading {
    display: flexbox;
    text-align: center;
    font-size: 65px;
    color: red;
    font-style:oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}




.bt {
    color: black;
    background-color: rgb(60, 201, 60);
}


#input {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px; 
}

.input{
    background-color: transparent;
    padding: 8px;
    border: none;
    outline: none;
    color: rgb(60, 201, 60); 
}

footer {
    background-color: #333; /* Dark background */
    color: white; /* White text */
    text-align: center; /* Center text */
    padding: 10px 0; /* Padding for spacing */
    position: fixed; /* Fixed at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Footer text styling */
footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #00bfff; /* Link color */
    text-decoration: none; /* No underline */
}

footer a:hover {
    text-decoration: underline; /* Underline on hover */
}
